@import 'src/responsive.scss';

.countryInfoPage {
    display: flex;
    flex-direction: column;
    height: 100%;

    .countryName {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        .imageContainer {
            img {
                width: 60px;
                height: 40px;
            }
        }

        @include small {
            flex-direction: column;
        }
    }

    .boxes {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .box {
            padding: 10px;
            align-items: center;
            height: 80%;
            width: 40%;

            @include small {
                flex: 1;
                height: 40%;
                width: 80%;
            }
        }

        @include small {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .loaderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}